  body{
  position: relative;
}
.pop-up-holder{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 100;
  display: none;
  h2 {
    text-transform: none;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
    @include respond-to(mob) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .lead{
    font-size: 23px;
    line-height: 30px;
    @include respond-to(mob) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
.active{
  display: block;
}
.pop-up__container-holder{
  position: relative;
}
.popup-container{
  position: relative;
  background-color: #FFF;
  margin-top: 128px;
  padding: 50px 15% 100px;
  // border: 3px solid $color-main;
  h2{
    font-size: 30px;
  }
}
form .line{
  height: auto;
}
.line{
  margin-bottom: 5px;
  position: relative;
  @include respond-to(md) {
    margin-bottom: 20px;
  }
  p, .filter-label{
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    width: 30%;
    text-align: right;
    margin: 0 15px 0;
    vertical-align: middle;
    @include respond-to(md) {
      width: 100%;
      text-align: left;
      margin: 0;
    }
  }
  input, .js__select{
    display: inline-block;
    width: 60%;
    border: 1px solid $color-link;
    outline: 0;
    padding: 10px 15px;
    transition: all .3s;
    &:focus{
      border-color: $color-hover;
    }
    @include respond-to(md) {
      width: 100% !Important;
    }
  }
  .js__select__holder{
    display: inline-block;

    width: 60%;
    @include respond-to(md) {
      width: 100% !Important;
    }
  }

  .button-add{
    background-color: $color-link;
    color: #FFF;
    margin-top: 30px;
    &:hover{
      background-color: $color-hover;
      border: 1px solid $color-hover;
    }
    &:active{
      background-color: $color-active;
      border: 1px solid $color-active;
    }
  }
  li.active-result:before{
    display: none;
  }
}

a.cancel, a.cancel-ok{
  border-bottom: 0px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  width: 250px;
  display: block;
  color: #FFF;
  margin-top: 30px;
}
a.cancel{
  background-color: #C35C5C;
  &:hover{
    background-color: #FF4533;
  }
  &:active{
    background-color: #8B2A37;
  }
}
a.cancel-ok{
  background-color: #0CC313;
  &:hover{
    background-color: #B8E986;
  }
  &:active{
    background-color: #417505;
  }
}
.hide{
  display: none;
}
.error-popUp{
  border-color: #C35C5C;
}
.ok-popUp{
  border-color: #0CC313;
}
.close__popUp{
  position: absolute;
  right: 30px;
  top: 30px;
  background-image: image-url('icons/close.svg');
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 20px;
  height: 20px;
  opacity: .5;
  transition: all .3s;
  &:hover{
    cursor: pointer;
    opacity: 1;
  }
}



/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.4.1
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2015 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  zoom: 1;
  *display: inline;
  user-select: none;
  text-align: left;
}
.chosen-container * {
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid $color-hover;
  border-top: 0;
  background: #fff;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 5px 16px;
  border: 1px solid $color-link;
  background-color: #fff;
  background-clip: padding-box;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 28px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 15px;
  height: 8px;
  background: image-url('icons/drop.svg');
  transition: all .3s;
}
.chosen-with-drop .chosen-single div b {
  transform: rotate(-180deg);
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid $color-hover;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-height: 300px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 8px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  padding: 15px 10px;
  display: block;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background: $color-hover;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: $color-hover;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid $color-hover;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid $color-hover;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid $color-hover;
  background-color: #e4e4e4;
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container-active .chosen-single {
  border: 1px solid $color-hover;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid $color-hover;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
}
.chosen-container-active .chosen-choices {
  border: 1px solid $color-hover;
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-repeat: no-repeat !important;
  }
}


.not-select{
  display: none !important;
}

input.error, .error + .chosen-container-single .chosen-single{
  border-color: #C35C5C;
}
label.error {
  color: #C35C5C;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 1px;
  @include respond-to(md) {
    right: -15px;
    top: 18px;
  }
}
.form{
  position: relative;
}
.spiner-holder{
  width: 100%;
  // min-height: 800px;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
}

// capcha
.g-recaptcha {
  margin-top: 30px;
  margin-bottom: -20px;
  display: inline-block;
  width: 60%;
  @include respond-to(md) {
      width: 100%;
  }
}
