.ds_header-module {
    position: relative;
    min-height: 100px;
    color: black;

    .header-wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }

    .header-image-back {
        min-height: 760px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header-content-wrapper {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header-image-back .header-content-wrapper {
        padding: 0;
    }

    .header-image-back .header-title {
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .header-image-back .ds_get-consultation-button {
        padding-right: 30px;
        margin-bottom: 50px;
    }

    .ds_get-consultation-button {
        margin-top: 10px;
        margin-bottom: auto;
    }

    .hide-img {
        display: none;
    }

    .header-image-tag img {
        width: 100%;
        margin-bottom: 20px;
    }

    .header-title {
        position: relative;
    }

    .header-title-type {
        font-family: 'Baskerville',serif;
        font-size: 24px;
        line-height: 41px;
        font-style: italic;
        font-weight: normal;
        text-transform: lowercase;
        display: block;
        margin-bottom: 0px;
    }

    h1 {
        font-size: 36px;
        line-height: 35px;
        margin-top: 10px;
        margin-bottom: 25px;

    }





}

@media (max-width: 1520px){
    .ds_header-module {
        .header-content-wrapper  {padding: 0 30px;}
    }
}

@media (max-width: 768px){
    .ds_header-module { 
        .hide-img {
            display: block;
        }
        .header-image-back {
            background-image: none !important;
            height: auto;
            min-height: auto;
            display: block;
            // position: relative;
            // margin-bottom: 150px;
        }
        .header-content-wrapper {
            display: block;
            width: 100%;
        }


        .header-image-back .header-title {
            position: relative;
            padding-bottom: 0px;
            // padding-top: 20px;
        }
        h1, .ds_share-arrow {
            display: inline-block;
        }
        h1 {
            margin-bottom: 10px;
            margin-right: 20px;

        }
        .ds_share-arrow {
            margin-top: 10px;
        //     position: absolute;    
        //     // bottom: 0px;
        //     top:100%;
        //     margin-top: -20px;
        }
    }


.ds_header-module h1 {

      @include fp(font-size, 19, 36, $start:320, $end:768); //50px at 320, 100px at 1920;
      @include fp(line-height, 20, 35, $start:320, $end:768); //50px at 320, 100px at 1920;

 
}


.ds_header-module .header-title-type {

      @include fp(font-size, 18, 24, $start:320, $end:768); //50px at 320, 100px at 1920;
      @include fp(line-height, 18, 41, $start:320, $end:768); //50px at 320, 100px at 1920;

}

}





@media (max-width: 550px){
    .ds_header-module {

        .header-image-back .header-title, .header-content-wrapper  {
            padding: 0 15px;
        }
        .header-image-back .ds_get-consultation-button {
            margin-bottom: 0px;
        }
    }
}



// @media (max-width: 768px){
//     .header {
//         min-height: 60px;
//         margin-bottom: 10px;
//         position: static;
//     }
//     .header h1 {
//         font-size: 25px;
//         line-height: 26px;
//         float: left;
//         padding-left: 55px;
//         margin-top: 10px;
//         margin-bottom: 15px;
//     }
//     .header .get-consultation-button {
//         position: static;
//     }
// }