.white-hse-menu {
    position: relative;
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.07);
    z-index: 10;
    min-height: 10px;
    .hse-menu-item {
        display: inline-block;
        padding: 15px 15px 15px 0;
        margin-right: 110px;
        &:last-child{
            margin-right: 0px !important;
            padding-right: 0px;
        }
        .arrow {
            position: relative;
            margin-left: 5px;
            display: inline-block;
            svg {
                position: absolute;
                top:-10px;
            }
            transition: transform .2s;
        }
        .hse-menu-list-title.active {
            .arrow svg {
                transform: rotate(-180deg);
            }
        }
    }
    .hse-menu-list-title {
        cursor: pointer;
        text-decoration: none;
        font-size: 18px;
        color: $color-main;
        line-height: 22px;
    }
    .hse-menu-list {
        padding-top: 30px;
        .hse-menu-list-item {
            cursor: pointer;
            display: block;
            font-size: 14px;
            color: $color-main;
            line-height: 30px;
            text-decoration: none;
        }
        position: absolute;

        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity .2s;

        &.active {
           height: auto; 
        }
        &.active.show-item {
           opacity: 1; 
        }

    }
    

}
.hse-menu-cover {
    position: absolute;
    z-index: 9;
    // top:-5px;
    margin-top: -5px;
    background: #F6F6F6;
    border: 1px solid #E3E3E3;
    // height: 500px;
    width: 100%;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.07);
}




@media (max-width: 1462px) {
    .white-hse-menu .hse-menu-item {
            margin-right: 62px !important;
            &:last-child{
            margin-right: 0px !important;
            padding-right: 0px;
        }
    }
}

@media (max-width: 1200px) {
    .white-hse-menu .hse-menu-item {
        &:last-child{
            margin-right: 0px !important;
            padding-right: 0px;
        }
        margin-right: 16px !important;
    }
}

@media (max-width: 992px) {
    .white-hse-menu .hse-menu-item {
        margin-right: 10px !important;
        a {
            font-size: 14px;
        }
        .arrow {
            margin-left: 0px !important;
            transform: scale(0.8);
        }
    }
}
@media (max-width: 768px) {
    .white-hse-menu {
        padding: 10px;
        transition: all .2s;
        background: #F6F6F6;
        width: 100%;
        box-shadow: 
            0px 10px 10px -10px rgba(0,0,0,0.15) inset, 
            0px -10px 10px -10px rgba(0,0,0,0.15) inset;
        .hse-menu-list-item {
            line-height: 20px !important;
            margin-bottom: 10px;
        }
        .hse-menu-item {
            padding: 7px 0px;
            display: block !important;
            
            .arrow {
                top: 1px;
                margin-left: 5px !important;
                transform: scale(1);
            }
        }
        .hse-menu-list {
            height: 0px;
                padding-left: 30px;
                padding-top: 0px;
            position: static;
        }
        .hse-menu-list.active {
            height: 0;
        }  
        .hse-menu-list.active.show-item {
            margin-top: 10px;
            height: auto;
        }
    }
    .hse-menu-cover.active {
        display: none;
    }
}  