.info-item
    Предварительная подача мотивационных писем по&nbsp;электронной почте
    %a{href: "mailto:design@hse.ru"} 
        design@hse.ru
.info-item
    %a{href: "http://design.hse.ru/join#mag"} 
        Подробнее об&nbsp;условиях поступления в Школу дизайна 
.bachelor-info-additional-contact
    .info-item
        %h4 Приемная комиссия
        г. Москва, ул. Мясницкая, д.&nbsp;20, ауд.&nbsp;111 (первый этаж). 
    .info-item 
        Ближайшие станции метро: Лубянка, Китай-город, Чистые пруды, Тургеневская. 
    .info-item
        Режим работы: пн-пт с&nbsp;10:00 до&nbsp;17:00, кроме субботы и&nbsp;воскресенья.
    .info-item
        %a{href: "https://ma.hse.ru/"} Сайт приемной комиссии
    .info-item
        %a{href: "https://www.hse.ru/buildinghse/"} Карта зданий НИУ ВШЭ
    .info-item
        +7(495) 771 3242 
        %br
        %a{href: "mailto:abitur@hse.ru"} abitur@hse.ru