.row.creative-map 
    %a.creative-map-button{:href => "#{link}", :target => "_blank"}
        .creative-map-button-title Карта креативных компетенций 
    
    .creative-map-notice Здесь вы можете посмотреть содержание обучения 