/ .row
/     .col-lg-7.col-md-8.about-profile-program
        
/         %p 
/             <strong>3&nbsp;августа</strong> (в&nbsp;<strong>14:00</strong>) и <strong>4&nbsp;августа</strong> (в&nbsp;<strong>14:00</strong>) пройдут Дни открытых дверей и&nbsp;консультации для&nbsp;абитуриентов магистратуры Школы дизайна НИУ ВШЭ. Вы&nbsp;сможете задать все интересующие вопросы кураторам Школы дизайна и&nbsp;узнать подробности о&nbsp;новых профилях. Начало: 14.00, адрес: ул. Мясницкая, 20. <a  target="_blank" style="color: rgb(27, 104, 255);" href="https://goo.gl/forms/pGpJwLyFGBcjxDUt1">Необходима регистрация</a>.