.how#supply
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
        %h1.center
          %a{:href => "http://design.hse.ru/join#mag", :target => "_blank"} Как к нам поступить
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
        .mm-edi{data:{name:'how-block'}}= "<%= block 'how-block' %>"
        / %p.lead Зачисление в&nbsp;магистратуру происходит в&nbsp;ходе конкурсного отбора или по&nbsp;результатам участия в&nbsp;Олимпиаде НИУ ВШЭ для студентов и&nbsp;выпускников вузов.
        / %h2.center Конкурсный отбор
        / %p.lead Абитуриенты представляют мотивационное письмо, которое должно включать:
        / %ul
        /   %li описание проекта (1&nbsp;&mdash; 2&nbsp;страницы текста), который будущий магистр собирается реализовать во&nbsp;время обучения; текст составляется в&nbsp;свободной форме на&nbsp;русском языке;
        /   %li сведения об&nbsp;опыте профессиональной деятельности;
        /   %li описание перспектив и&nbsp;планов реализации полученного образования в&nbsp;будущем.
        / %p.lead Критерии оценки проекта: оригинальность идеи, степень проработанности проекта, актуальность.
        / %p.lead Так&nbsp;же абитуриент проходит собеседование, в&nbsp;ходе которого ему необходимо защитить идею своего проекта, рассказав о&nbsp;ее&nbsp;актуальности и&nbsp;ответив на&nbsp;вопросы экзаменационной комиссии о&nbsp;собственных предпочтениях в&nbsp;области искусства и&nbsp;дизайна.
        / %p.lead Абитуриенты, поступающие в&nbsp;группу уровня коммуникационный дизайн для специалистов (продвинутый курс), помимо мотивационного письма представляют портфолио&nbsp;&mdash; собственные авторские проекты, а&nbsp;также проекты, в&nbsp;которых они принимали участие.
        / %p.lead Мотивационное письмо и&nbsp;портфолио (оригиналы или копии) предоставляются в&nbsp;<a target="_blank" href ="http://ma.hse.ru/">приемную комиссию</a> в&nbsp;момент подачи документов и&nbsp;направляются в&nbsp;электронном виде по&nbsp;электронной почте <a href="mailto:design.hse@hse.ru">design@hse.ru</a>.

        / %h2.center Сроки подачи документов в 2016 году
        / %p.lead Всем абитуриентам, которые будут рекомендованы к&nbsp;зачислению на&nbsp;бюджетные места в&nbsp;магистратуре ВШЭ, необходимо предоставить оригиналы документа гособразца о&nbsp;высшем профессиональном образовании и&nbsp;соответствующее приложение к&nbsp;нему не&nbsp;позднее 7&nbsp;августа 2015 г.Сроки подачи документов в&nbsp;2016 году
        / %p.lead Внимание! Подача документов в электронной форме в 2016 году не предусмотрена.
        / %p.lead Зарегистрироваться как абитуриент магистратуры НИУ ВШЭ также  можно:
        / %ul
        /   %li послав документы почтой (<a href="http://ma.hse.ru/post" target="_blank">инструкция</a>);
        /   %li через Личный кабинет (регистрация откроется 1&nbsp;июня 2016&nbsp;года).
        / %h2.center Приемная комиссия
        / %p.lead Адрес приемной комиссии: г. Москва, ул. Мясницкая, д.&nbsp;20, ауд.&nbsp;111 (первый этаж). Метро: Лубянка, Китай-город, Чистые пруды, Тургеневская. Режим работы: пн-пт с&nbsp;10:00 до&nbsp;17:00, кроме субботы и&nbsp;воскресенья.
        / %p.lead <a target="_blank" href="http://ma.hse.ru/">Сайт приемной коммиссии</a>
        / %p.lead <a target="_blank" href="https://www.google.com/maps/d/viewer?mid=zD2sYkj7PPuI.k9udiN_0-dZU&amp;ie=UTF8&amp;hl=ru&amp;msa=0">Карта зданий НИУ ВШЭ</a>
        / %p.lead
        /   Телефон: +7(495) 771 3242
        /   %br/
        /   E-mail: abitur@hse.ru

        / %h2.center Бесплатные консультации
        / %p.lead Получить консультацию по&nbsp;вопросам выбора направления обучения в&nbsp;бакалавриате или магистратуре, узнать, как подготовить проект на&nbsp;творческий конкурс абитуриенты могут у&nbsp;руководителя Школы дизайна НИУ ВШЭ Арсения Мещерякова. Можно писать сообщения с&nbsp;пометкой &laquo;Поступление 2015&raquo; и&nbsp;задавать вопросы на&nbsp;его страничке в&nbsp;<a target="_blank" href="https://www.facebook.com/arseny.meshcheryakov">Facebook</a>.
        / %p.lead Подготовиться к&nbsp;поступлению в&nbsp;магистратуру можно также на&nbsp;занятиях Зимней школы НИУ ВШЭ.
        / %p.lead Информацию о&nbsp;стоимости обучения в&nbsp;магистратуре Школы дизайна можно получить в&nbsp;приемной комиссии НИУ ВШЭ, обратившись по&nbsp;адресу abitur@hse.ru или по&nbsp;телефону&nbsp;+7 (495) 771 3242.
