.white-hse-menu
    .container
        .row
            .col-lg-12.col-md-12
                .hse-menu-items
                    .hse-menu-item 
                        %a.hse-menu-list-title.hse-menu-list-title-action 
                            Профили
                            .arrow
                                <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><g id="open-school" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="bachelor-copy-3" sketch:type="MSArtboardGroup" transform="translate(-245.000000, -665.000000)" stroke="#9B9B9B"><path d="M247,660 L257,660 L257,670.017094" id="Rectangle-541" sketch:type="MSShapeGroup" transform="translate(252.000000, 665.008547) scale(1, -1) rotate(-45.000000) translate(-252.000000, -665.008547) "></path></g></g></svg>
                        .hse-menu-list
                            %a.hse-menu-list-item{href: "http://design.hse.ru/comm-basic"} Коммуникационный дизайн. Level&nbsp;0 (Базовый уровень)
                            %a.hse-menu-list-item{href: "http://design.hse.ru/comm-advanced"}  Коммуникационный дизайн. Level&nbsp;+ (Продвинутый уровень)
                            %a.hse-menu-list-item{href: "http://design.hse.ru/book"} Дизайн книги
                            %a.hse-menu-list-item{href: "http://design.hse.ru/animation-mag"} Режиссура анимации
                            %a.hse-menu-list-item{href: "http://design.hse.ru/regional-branding"} Территориальный брендинг и&nbsp;дизайн городской среды
                            %a.hse-menu-list-item{href: "http://design.hse.ru/fashion-mag"} Мода
                            %a.hse-menu-list-item{href: "http://design.hse.ru/museumdesign"} Современный музейный дизайн
                    .hse-menu-item 
                        %a.hse-menu-list-title.hse-menu-list-title-action 
                            Абитуриентам
                            .arrow
                                <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><g id="open-school" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="bachelor-copy-3" sketch:type="MSArtboardGroup" transform="translate(-245.000000, -665.000000)" stroke="#9B9B9B"><path d="M247,660 L257,660 L257,670.017094" id="Rectangle-541" sketch:type="MSShapeGroup" transform="translate(252.000000, 665.008547) scale(1, -1) rotate(-45.000000) translate(-252.000000, -665.008547) "></path></g></g></svg>
                        .hse-menu-list
                            %a.hse-menu-list-item{href: "http://design.hse.ru/join#bak"} Условия поступления
                            %a.hse-menu-list-item{href: "http://design.hse.ru/openday"}  Дни открытых дверей
                            %a.hse-menu-list-item{href: "http://design.hse.ru/podgotovka"} Подготовительное отделение
                            %a.hse-menu-list-item{href: "http://design.hse.ru/lyceum"} Лицей НИУ ВШЭ
                    
                    .hse-menu-item 
                        %a.hse-menu-list-title.hse-menu-list-title-action 
                            Студентам
                            .arrow
                                <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><g id="open-school" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="bachelor-copy-3" sketch:type="MSArtboardGroup" transform="translate(-245.000000, -665.000000)" stroke="#9B9B9B"><path d="M247,660 L257,660 L257,670.017094" id="Rectangle-541" sketch:type="MSShapeGroup" transform="translate(252.000000, 665.008547) scale(1, -1) rotate(-45.000000) translate(-252.000000, -665.008547) "></path></g></g></svg>
                        .hse-menu-list
                            %a.hse-menu-list-item{href: "http://design.hse.ru/timetable"} Расписание
                            %a.hse-menu-list-item{href: "http://www.hse.ru/scholarships"} Стипендии
                            %a.hse-menu-list-item{href: "http://design.hse.ru/eduoffice"} Учебный офис
                            %a.hse-menu-list-item{href: "http://portfolio.hse.ru/"} Рейтинг/Портфолио
                            %a.hse-menu-list-item{href: "http://design.hse.ru/spravka"} Первокурсникам
                            %a.hse-menu-list-item{href: "http://design.hse.ru/diplomnik"} Дипломникам
                            %a.hse-menu-list-item{href: "http://design.hse.ru/feedback/new"} Заказать справку
                            %a.hse-menu-list-item{href: "http://design.hse.ru/applications"} Образцы заявлений
                            %a.hse-menu-list-item{href: "http://design.hse.ru/antiplagiat"} Антиплагиат
                    .hse-menu-item 
                        %a.hse-menu-list-title{href: "http://design.hse.ru/persons"} Преподаватели
                    .hse-menu-item 
                        %a.hse-menu-list-title.hse-menu-list-title-action 
                            Документы
                            .arrow
                                <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><g id="open-school" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="bachelor-copy-3" sketch:type="MSArtboardGroup" transform="translate(-245.000000, -665.000000)" stroke="#9B9B9B"><path d="M247,660 L257,660 L257,670.017094" id="Rectangle-541" sketch:type="MSShapeGroup" transform="translate(252.000000, 665.008547) scale(1, -1) rotate(-45.000000) translate(-252.000000, -665.008547) "></path></g></g></svg>
                        .hse-menu-list
                            %a.hse-menu-list-item{href: "http://design.hse.ru/education_standard.pdf"} Образовательный стандарт
                            %a.hse-menu-list-item{href: "http://design.hse.ru/files/concept(design)"} Концепция магистерской программы &laquo;Дизайн&raquo;
                            %a.hse-menu-list-item{href: "http://design.hse.ru/files/concept(communication_design)"} Концепция магистерской программы &laquo;Коммуникационный дизайн&raquo;

                            %a.hse-menu-list-item{href: "http://design.hse.ru/files/design-matrix"} Матрица компетенций &laquo;Дизайн&raquo;
                            %a.hse-menu-list-item{href: "http://design.hse.ru/files/comm-design-matrix"} Матрица компетенций &laquo;Коммуникационный дизайн&raquo;

                    .hse-menu-item 
                        %a.hse-menu-list-title{href: "http://design.hse.ru/funded_places"} Вакантные бюджетные места
.hse-menu-cover