---
project: white-hse-menu
title: Кнопка перехода на карту креативных компетенций
titleContent: 
description: 
---
.container 
	.row
		.col-xs-12
			= partial :creative_map, locals: {link: "http://creativemap.hse.ru/timetable/1218"}
			.creative-map-center
				= partial :creative_map, locals: {link: "http://creativemap.hse.ru/timetable/1218"}
